body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    font-family: "Rubik", sans-serif;
    background-color: $bg;
    color: $default;
    display: flex;
    flex-direction: column;
}

svg {
    fill: currentColor;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    border-radius: 4px;
    outline: 1px solid transparent;
    transition: opacity 0.5s, outline-color 0.5s;

    &:hover {
        opacity: .80;
    }

    &:focus {
        outline-color: $accent;
    }

    &:active {
        opacity: .50;
    }

    &--small {
        @media (min-width: 1200px) {
            display: none;
        }

        @media (min-width: 768px) {
            margin-right: 90px;
        }
    }
}

.button {
    background-color: $accent;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 40px;
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: 4px;
    transition: box-shadow 0.5s, outline-color 0.5s;

    @media (min-width: 480px) {
        font-size: 16px;
        padding: 10px 50px;
    }

    &:hover {
        box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.4);
    }

    &:focus {
        outline-color: $accent;
    }

    &:active {
        box-shadow: inset 3px 3px 8px 0 rgba(0, 0, 0, 0.4)
    }

    &--big {
        padding: 10px 68px;
    }

    &--icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px 28px 10px 38px;
        transition: background-color 0.5s, color 0.5s;

        &:hover {
            background-color: #fff;
            color: $accent;
        }
    }
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    margin-bottom: 50px;
}

.burger-btn {
    width: 44px;
    height: 44px;
    position: relative;
    z-index: 5;
    top: -38px;
    left: 260px;
    transition: transform 0.5s;

    &.is-open {
        .burger-btn__line {
            width: 0;
        }

        &::before {
            transform: rotate(45deg);
            top: 16px;
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    @media (min-width: 340px) {
        top: 0;
        left: 11px;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        max-width: 26px;
        width: 100%;
        height: 2px;
        left: 8px;
        background-color: #757575;
        border-radius: 3px;
        transition: transform 0.5s;
    }

    &::after {
        top: 16px;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.burger-btn__line {
    display: block;
    position: absolute;
    top: 28px;
    max-width: 26px;
    width: 100%;
    height: 2px;
    left: 8px;
    background-color: #757575;
    border-radius: 3px;
}


.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    outline: 1px solid #E6E6E6;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: background-color 0.5s, outline-color 0.5s, box-shadow 0.5s;

    &:hover {

        &::before,
        &::after {
            background-color: $accent;
        }
    }

    &:focus {
        outline-color: $accent ;
    }

    &:active {
        box-shadow: inset 3px 3px 3px 0 rgba(0, 0, 0, 0.12);

        &::before,
        &::after {
            background-color: $accent;
        }
    }

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        max-width: 15px;
        width: 100%;
        height: 2px;
        background-color: #000;
        border-radius: 4px;
        transition: background-color 0.5s;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    &--burger {
        top: 10px;
        right: 10px;
        outline: none;

        &::before,
        &::after {
            background-color: #757575;
        }
    }
}