<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__content">
                <a class="logo footer__logo" href="#">
                    <img class="logo__img" src="../images/logo/footer-logo.svg" alt="logo Dolguldur" width="140"
                        height="25">
                </a>
                <span class="footer__text">14 Green St., Belmont, Boston. USA</span>
                <address class="address">
                    <ul class="address__list">
                        <li class="address__item">
                            <a class="address__link" href="mailto:info@dolguldurcom">info@dolguldur.com</a>
                        </li>
                        <li class="address__item">
                            <a class="address__link" href="tel:380961111111">+38 096 111 11 11</a>
                        </li>
                    </ul>
                </address>
            </div>
            <div class="footer__box">
                <span class="footer__title">join</span>
                <ul class="social">
                    <li class="social__item">
                        <a class="social__link social__link--light" href="#">
                            <svg class="social__icon" width="20" height="20">
                                <use href="images/icon/sprite.svg#icon-instagram"></use>
                            </svg>
                            <span class="sr-only">instagram</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--light" href="#">
                            <svg class="social__icon" width="20" height="20">
                                <use href="images/icon/sprite.svg#icon-twitter"></use>
                            </svg>
                            <span class="sr-only">twitter</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--light" href="#">
                            <svg class="social__icon" width="20" height="20">
                                <use href="images/icon/sprite.svg#icon-facebook"></use>
                            </svg>
                            <span class="sr-only">facebook</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--light" href="#">
                            <svg class="social__icon" width="20" height="20">
                                <use href="images/icon/sprite.svg#icon-linkedin"></use>
                            </svg>
                            <span class="sr-only">linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__form-box">
                <span class="footer__title">
                    subscribe
                </span>
                <form class="subscribe-form">
                    <label class="subscribe-form__label" for="emailName">
                        <span class="sr-only">enter your email</span>
                        <input class="subscribe-form__input" placeholder="E-mail" type="email" id="emailName"
                            name="emailName">
                    </label>
                    <button class="button button--icon" type="submit">
                        Subscribe
                        <svg class="subscribe-form__icon" width="24" height="24">
                            <use href="images/icon/sprite.svg#icon-sheet"></use>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</footer>