<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="menu">
                <a class="logo" href="#">
                    <img class="logo__img" src="../images/icon/logo.svg" alt="logo" width="190" height="36">
                </a>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Home</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Our Works</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Contacts</a>
                    </li>
                </ul>
            </nav>
            <div class="info-nav">
                <ul class="info-nav__list">
                    <li class="info-nav__item">
                        <a class="info-nav__link" href="mailto:info@dolguldurcom">
                            <svg class="info-nav__icon" width="16" height="12">
                                <use href="images/icon/sprite.svg#icon-envelope"></use>
                            </svg>
                            info@dolguldur.com
                        </a>
                    </li>
                    <li class="info-nav__item">
                        <a class="info-nav__link" href="tel:380961111111">
                            <svg class="info-nav__icon" width="16" height="12">
                                <use href="images/icon/sprite.svg#icon-smartphone"></use>
                            </svg>
                            +38 096 111 11 11
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>