<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="menu">
                <a class="logo header__logo" href="#">
                    <img class="logo__img" src="../images/icon/logo.svg" alt="logo Dolguldur" width="190" height="36">
                </a>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="index.html">Home</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="works.html">Our Works</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Contacts</a>
                    </li>
                </ul>
            </nav>
                <ul class="header__contacts">
                    <li class="header__contacts-item">
                        <a class="header__contacts-link" href="mailto:info@dolguldurcom">
                            <svg class="header__contacts-icon" width="16" height="12">
                                <use href="images/icon/sprite.svg#icon-envelope"></use>
                            </svg>
                            info@dolguldur.com
                        </a>
                    </li>
                    <li class="header__contacts-item">
                        <a class="header__contacts-link" href="tel:380961111111">
                            <svg class="header__contacts-icon" width="16" height="12">
                                <use href="images/icon/sprite.svg#icon-smartphone"></use>
                            </svg>
                            +38 096 111 11 11
                        </a>
                    </li>
                </ul>
        </div>
    </div>
</header>