.footer {
    padding: 65px 0;
    background-color: #070303;

    &__inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @media (min-width: 1200px) {
            flex-wrap: unset;
        }
    }

    &__content {
        max-width: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto 60px;
        text-align: center;


        @media (min-width: 1200px) {
            display: unset;
            text-align: unset;
            margin: unset;
            margin-right: 63px;
        }

        @media (min-width: 768px) {
            margin-right: 63px;
        }
    }

    &__logo {
        display: block;
        margin-bottom: 23px;
    }

    &__text {
        display: block;
        color: #fff;
        margin-bottom: 10px;
    }

    &__box {
        max-width: 206px;
        width: 100%;
        text-align: center;
        margin: 0 auto 60px;

        @media (min-width: 1200px) {
            text-align: unset;
            margin: unset;
            margin-right: 93px;
        }
    }

    &__title {
        display: block;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__form-box {
        max-width: 570px;
        width: 100%;
        text-align: center;

        @media (min-width: 1200px) {
            text-align: unset;
        }
    }
}

.address {
    font-style: normal;

    &__item {

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        line-height: 1.7;
        color: #f29040;
        border-radius: 4px;
        transition: color 0.5s, outline-color 0.5s;

        &:hover {
            color: #ec3c05;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            opacity: .60;
        }
    }
}