.header {
    padding: 22px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        margin-right: 90px;
    }

    &__contacts {
        display: flex;
        align-items: end;
        gap: 45px;
    }

    &__contacts-link {
        display: flex;
        align-items: center;
        outline: 1px solid transparent;
        border-radius: 4px;
        transition: color 0.5s, outline-color 0.5s;

        &:hover {
            color: $accent;
        }

        &:focus {
            outline-color: $accent ;
        }

        &:active {
            color: rgb(236 60 5 / 70%);
        }
    }

    &__contacts-icon {
        margin-right: 10px;
        stroke: currentColor;
    }
}

.menu {
    display: flex;

    &__list {
        display: flex;
        align-items: end;
        gap: 50px;
    }

    &__link {
        font-size: 16px;
        color: #212121;
        border-radius: 4px;
        padding: 24px 4px;
        outline: 1px solid transparent;
        transition: color 0.5s, outline-color 0.5s, border-bottom 0.5s;

        &:hover {
            color: $accent;
        }

        &:focus {
            outline-color: $accent ;
        }

        &:active {
            color: rgb(236 60 5 / 70%);
            border-bottom: 4px solid rgb(236 60 5 / 70%);
        }
    }
}