.header {
    padding: 12px 0;

    @media (min-width: 340px) {
        border-bottom: 1px solid #ECECEC;
    }

    @media (min-width: 768px) {
        padding: 22px 0;
    }

    &__inner {
        @media (min-width: 340px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        margin-right: 90px;
        display: none;

        @media (min-width: 1200px) {
            display: block;
        }
    }

    &__img-small {
        object-fit: contain;
    }

    &__contacts {
        display: none;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        @media (min-width: 1200px) {
            flex-direction: unset;
            gap: 45px;
        }
    }

    &__contacts-link {
        display: flex;
        align-items: center;
        font-size: 12px;
        border-radius: 4px;
        transition: color 0.5s, outline-color 0.5s;

        @media (min-width: 1200px) {
            font-size: 14px;
        }

        &:hover {
            color: $accent;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            opacity: .70;
        }
    }

    &__contacts-icon {
        margin-right: 10px;
    }
}

.menu {
    @media (min-width: 768px) {
        display: flex;
    }

    &__list {
        display: none;

        @media (min-width: 1200px) {
            display: flex;
            gap: 50px;
        }

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            gap: 50px;
        }

    }

    &__link {
        font-size: 16px;
        color: #212121;
        padding: 20px 0;
        border-radius: 4px;
        transition: color 0.5s, outline-color 0.5s, ;
        position: relative;


        &::before {
            content: '';
            display: block;
            position: absolute;
            border-bottom: 4px solid transparent;
            border-radius: 2px;
            width: 100%;
            bottom: -7px;
            left: 50%;
            transform: translateX(-50%);
            transition: border-bottom 0.5s;
        }

        &:hover {
            color: $accent;

            &::before {
                border-bottom: 4px solid $accent;
            }
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            opacity: .50;
        }

        &--active {
            color: $accent;
            transition: color 0.5s;

            &::before {
                content: '';
                display: block;
                position: absolute;
                border-bottom: 4px solid $accent;
                border-radius: 2px;
                width: 100%;
                bottom: -7px;
            }

            &:active {
                opacity: .70;
            }
        }
    }
}