.header {
    padding: 22px 0;
    border-bottom: 1px solid #ECECEC;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        margin-right: 90px;
    }

    &__contacts {
        display: flex;
        align-items: end;
        gap: 45px;
    }

    &__contacts-link {
        display: flex;
        align-items: center;
        outline: 1px solid transparent;
        border-radius: 4px;
        transition: color 0.5s, outline-color 0.5s;

        &:hover {
            color: $accent;
        }

        &:focus {
            outline-color: $accent ;
        }

        &:active {
            color: rgb(236 60 5 / 70%);
        }
    }

    &__contacts-icon {
        margin-right: 10px;
        fill: currentColor;
        stroke: currentColor;
    }
}

.menu {
    display: flex;

    &__list {
        display: flex;
        align-items: end;
        gap: 50px;
    }

    &__link {
        font-size: 16px;
        color: #212121;
        padding: 20px 0;
        outline: 1px solid transparent;
        outline-offset: 4px;
        border-radius: 4px;
        transition: color 0.5s, outline-color 0.5s, border-bottom 0.5s;
        position: relative;

        &:hover {
            color: $accent;
        }

        &:focus {
            outline-color: $accent;
        }

        &--active {
            color: $accent;


            &::before {
                content: '';
                display: block;
                position: absolute;
                border-bottom: 4px solid $accent;
                border-radius: 2px;
                width: 45px;
                bottom: -7px;
                

            }
        }
    }
}