.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: #757575;
        transition: color 0.5s,   background-color 0.5s, outline-color 0.5s,  box-shadow 0.5s;

        &:hover{
            color: #fff;
            background-color: $accent;
        }

        &:focus{
            outline: 1px solid  $accent;
            outline-offset: 4px;
        }

        &:active{
            background-color: $accent;
            color: #fff;
            box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
        }

        &--light {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}