.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 1200px) {
        flex-wrap: unset;
        justify-content: unset;
        align-items: end;
        max-width: 570px;
        margin: 0;

    }
 
    &__label {
        width: 100%;
        margin-bottom: 20px;

        @media (min-width: 1200px) {
            margin-right: 12px;
            margin-bottom: 0;
        }
    }

    &__input {
        width: 100%;
        padding: 11px 16px;
        background-color: #070303;
        outline: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        color: #fff;
        transition: color 0.5s, outline-color 0.5s;

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
            transition: color 0.5s;
        }

        &:hover {
            &::placeholder {
                color: rgba(236, 59, 5, 0.7);
            }
        }

        &:focus {
            outline-color: $accent;
        }
    }
}