.team-card {
    text-align: center;
    max-width: 270px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 4px;
    border-top: none;
    background-color: #fff;
    box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.3);
    outline: 1px solid transparent;
    transition: outline-color 0.5s;

    &:hover {
        outline-color: $accent;
    }

    &__link {
        transition: color 0.5s, opacity 0.5s, text-shadow 0.5s;

        &:focus {
            color: $accent;
        }

        &:active {
            opacity: .50;
            text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.50);
        }
    }

    &__box {
        font-size: 16px;
        padding: 30px 70px 30px 70px;
        white-space: nowrap;
    }

    &__title {
        font-size: 16px;
        font-style: normal;
        display: block;
        color: #212121;
      
    }

    &__author {
        display: block;
    }
}