.advantages {
    padding: 95px;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__title{
        font-weight: 700;
        color: #212121;
        margin-bottom: 10px;
    }

    &__text{
        max-width: 250px;
        width: 100%;
        line-height: 1.7;
    }
}