.hero {
    position: relative;
    height: 56vh;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__content {
        max-width: 650px;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }

    &__title {
        font-size: 44px;
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 30px;
    }

    &__slider {
        max-width: 1600px;
        width: 100%;
        height: 56vh;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        top: 0;
    }

    &__slider-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        height: 56vh;
        z-index: -1;

        &::before {
            content: '';
            background-color: rgba(47, 48, 58, 0.6);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
}
