.hero {
    position: relative;
    height: 56vh;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__content {
        max-width: 650px;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }

    &__title {
        font-size: 44px;
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 30px;
    }

    &__slider {
        max-width: 1600px;
        width: 100%;
        height: 56vh;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        top: 0;
    }

    &__slider-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        height: 56vh;
        z-index: -1;

        &::before {
            content: '';
            background-color: rgba(47, 48, 58, 0.6);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    z-index: 5;
    transition: opacity 1s;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;

        .modal {
            transform: scale(0);
        }
    }
}

.modal {
    display: flex;
    max-width: 528px;
    width: 100%;
    height: 581px;
    background-color: #fff;
    transform: scale(1);
    position: relative;
    z-index: 20;
    transition: transform 0.5s;
}