.hero {
    position: relative;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__content {
        max-width: 650px;
        width: 100%;
        text-align: center;
        padding: 200px 0;
    }

    &__title {
        font-size: 44px;
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 30px;
    }

    &__slider {
        max-width: 1600px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        top: 0;
    }

    &__slider-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        height: 100%;
        z-index: -1;

        &::before {
            content: '';
            background-color: rgba(47, 48, 58, 0.6);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    .backdrop {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        transform: scale(1);
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        top: 0;
        left: 0;
        z-index: 5;   
        transition: transform 0.5s;
    }

    .is-hidden {
        opacity: .10;
        pointer-events: none;
        transform: scale(0);
    }

    .modal-window {
        max-width: 528px;
        width: 100%;
        height: 581px;
        background-color: #fff;
        position: relative;
        z-index: 20;
    }

    .modal__close-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        outline: 1px solid #E6E6E6;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        right: 8px;
        transition:background-color 0.5s, outline-color 0.5s,  box-shadow 0.5s;

        &:hover {

            &::before,
            &::after {
                background-color: $accent;
            }
        }

        &:focus {
            outline-color: $accent ;
        }

        &:active {
            box-shadow: inset 3px 3px 3px 0 rgba(0, 0, 0, 0.12);
        }

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            max-width: 15px;
            width: 100%;
            height: 2px;
            background-color: #000;
            border-radius: 4px;
            transition: background-color 0.5s;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

    }
}