.partners {
    padding: 60px 0;

    @media (min-width: 1200px) {
        padding: 95px 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        @media (min-width: 1200px) {
            flex-wrap: nowrap;
        }
    }

    &__item{
        width: 40%;

        @media (min-width: 480px) {
            width: auto;
          }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #757575;
        border-radius: 4px;
        width: 100%;
        height: 92px;
        color: #757575;
        transition: color 0.5s, border-color 0.5s, outline-color 0.5s;

        @media (min-width: 480px) {
            width: 210px;
        }

        @media (min-width: 768px) {
            width: 226px;
        }
        

        @media (min-width: 1200px) {
            width: 170px;
        }

        &:hover {
            color: $accent;
            border-color: $accent;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            color: rgba(236, 59, 5, 0.7);
            border-color: rgba(236, 59, 5, 0.7);
        }
    }
}