.partners {
    padding: 95px 0;

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item{
        max-width: 170px;
        width: 100%;
    }
    
    &__link{
        display: block;
        border: 1px solid #757575;
        border-radius: 4px;
        padding: 33px 55px;

        &--small{
            padding: 21px 55px;
        }
    }
}