<section class="advantages">
    <div class="container">
        <h2 class="sr-only">Our advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <h3 class="advantages__title">
                    Effective team
                </h3>
                <p class="advantages__text">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod
                    tempor incididunt.
                </p>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__title">
                    punctuality
                </h3>
                <p class="advantages__text">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt.
                </p>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__title">
                    planning
                </h3>
                <p class="advantages__text">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt.
                </p>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__title">
                    innovation
                </h3>
                <p class="advantages__text">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt.
                </p>
            </li>
        </ul>
    </div>
</section>