<section class="advantages">
    <div class="container">
        <h2 class="sr-only">Our advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <span class="advantages__img">
                    <img class="advantages__icon" src="/images/advantages/icon.svg" alt="hands" width="65" height="56">
                </span>
                <h3 class="advantages__title">
                    Effective team
                </h3>
                <p class="advantages__text">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod
                    tempor incididunt.
                </p>
            </li>
            <li class="advantages__item">
                <span class="advantages__img">
                    <img class="advantages__icon" src="/images/advantages/icon-2.svg" alt="telephone" width="50" height="60">
                </span>
                <h3 class="advantages__title">
                    punctuality
                </h3>
                <p class="advantages__text">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt.
                </p>
            </li>
            <li class="advantages__item">
                <span class="advantages__img">
                    <img class="advantages__icon" src="/images/advantages/icon-3.svg" alt="Human " width="58" height="61">
                </span>
                <h3 class="advantages__title">
                    planning
                </h3>
                <p class="advantages__text">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt.
                </p>
            </li>
            <li class="advantages__item">
                <span class="advantages__img">
                    <img class="advantages__icon" src="/images/advantages/icon-4.svg" alt="computer on the table" width="57" height="57">
                </span>
                <h3 class="advantages__title">
                    innovation
                </h3>
                <p class="advantages__text">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt.
                </p>
            </li>
        </ul>
    </div>
</section>