<section class="hero">
    <div class="container hero__container">
        <div class="hero__content">
            <h2 class="hero__title">author's forge where your sites are created</h2>
            <button class="button" type="button" data-modal-open>Go to order</button>
        </div>
        <div class="backdrop is-hidden" data-modal>
            <div class="modal">
                <form class="feedback-form">
                    <h3 class="feedback-form__title">Tell about yourself and we will contact you</h3>
                    <label class="feedback-form__label" for="names">
                        Name
                        <input class="feedback-form__input" type="text" id="names" name="names" required>
                        <svg class="feedback-form__icon" width="18" height="18">
                            <use href="images/icon/sprite.svg#icon-uzer"></use>
                        </svg>
                    </label>
                    <label class="feedback-form__label" for="phone">
                        Phone
                        <input class="feedback-form__input" type="tel" id="phone" name="phone" required>
                        <svg class="feedback-form__icon" width="18" height="18">
                            <use href="images/icon/sprite.svg#icon-phone"></use>
                        </svg>
                    </label>
                    <label class="feedback-form__label" for="email">
                        E-mail
                        <input class="feedback-form__input" type="email" id="email" name="email" required>
                        <svg class="feedback-form__icon" width="18" height="18">
                            <use href="images/icon/sprite.svg#icon-email"></use>
                        </svg>
                    </label>
                    <label class="feedback-form__label feedback-form__label--area" for="message">
                        Message
                        <textarea class="feedback-form__input feedback-form__input--area" name="text" id="message"
                            placeholder="Your message..." required></textarea>
                    </label>
                    <label class="feedback-form__checkbox-label" for="checkbox">
                        <input class="feedback-form__checkbox-input" type="checkbox" id="checkbox" name="checkbox"
                            required>
                        <span class="feedback-form__fake-checkbox">
                            <svg class="feedback-form__checkbox-icon" width="10" height="8">
                                <use href="images/icon/sprite.svg#icon-checkbox"></use>
                            </svg>
                        </span>
                        <span class="feedback-form__text">
                            I agree to the subscription and accept the
                            <a class="feedback-form__link" href="#">Terms of use</a>
                        </span>
                    </label>
                    <button class="button button--big" type="submit">Submit</button>
                </form>
                <button class="close-button" type="button" data-modal-close>
                    <span class="sr-only">fashion window close button</span>
                </button>
            </div>
        </div>
    </div>
    <div class="hero__slider">
        <div class="hero__slider-img hero__slider-img--slider1"></div>
        <div class="hero__slider-img hero__slider-img--slider2"></div>
        <div class="hero__slider-img hero__slider-img--slider3"></div>
    </div>
</section>