<section class="hero">
    <div class="container hero__container">
        <div class="hero__content">
            <h2 class="hero__title">author's forge where your sites are created</h2>
            <button class="button" type="button" data-modal-open>Go to order</button>
        </div>
        <div class="backdrop is-hidden" data-modal>
            <div class="modal-window">
                <button class="modal__close-button" data-modal-close>
                    <span class="sr-only">close button</span>
                </button>
            </div>
        </div>
    </div>
    <div class="hero__slider">
        <div class="hero__slider-img" style="background-image: url('images/hero/hero-bg.jpg')"></div>
        <!-- <div class="hero__slider-img" style="background-image: url('images/hero/hero-bg-2.jpg')"></div>
        <div class="hero__slider-img" style="background-image: url('images/hero/hero-bg-3.jpg')"></div> -->
    </div>
</section>