<section class="partners">
    <div class="container">
        <h2 class="title">Our partners</h2>
        <ul class="partners__list">
            <li class="partners__item">
                <a class="partners__link" href="#">
                    <svg class="partners__icon" width="60" height="60">
                        <use href="images/icon/sprite.svg#icon-rails"></use>
                    </svg>
                    <span class="sr-only">rails</span>
                </a>
            </li>
            <li class="partners__item">
                <a class="partners__link" href="#">
                    <svg class="partners__icon" width="60" height="60">
                        <use href="images/icon/sprite.svg#icon-googlepay"></use>
                    </svg>
                    <span class="sr-only">googlepay</span>
                </a>
            </li>
            <li class="partners__item">
                <a class="partners__link" href="#">
                    <svg class="partners__icon" width="60" height="60">
                        <use href="images/icon/sprite.svg#icon-playstation"></use>
                    </svg>
                    <span class="sr-only">playstation</span>
                </a>
            </li>
            <li class="partners__item">
                <a class="partners__link" href="#">
                    <svg class="partners__icon" width="60" height="60">
                        <use href="images/icon/sprite.svg#icon-applepay"></use>
                    </svg>
                    <span class="sr-only">applepay</span>
                </a>
            </li>
            <li class="partners__item">
                <a class="partners__link" href="#">
                    <svg class="partners__icon" width="60" height="60">
                        <use href="images/icon/sprite.svg#icon-npm"></use>
                    </svg>
                    <span class="sr-only">npm</span>
                </a>
            </li>
            <li class="partners__item">
                <a class="partners__link" href="#">
                    <svg class="partners__icon" width="60" height="60">
                        <use href="images/icon/sprite.svg#icon-ubereats"></use>
                    </svg>
                    <span class="sr-only">ubereats</span>
                </a>
            </li>
        </ul>
    </div>
</section>