<section class="services">
    <h2 class="title">Our services</h2>
    <ul class="services__list">
        <li class="services__item">
            <img class="services__img" src="../images/services/services.jpg" alt="workplace" width="370" height="295">
            <a class="services__link" href="#">desktop apps</a>
        </li>
        <li class="services__item">
            <img class="services__img" src="../images/services/services-2.jpg" alt="phone in a man's hands" width="370" height="295">
            <a class="services__link" href="#">mobile apps</a>
        </li>
        <li class="services__item">
            <img class="services__img" src="../images/services/services-3.jpg" alt="man draws" width="370" height="295">
            <a class="services__link" href="#">modern design</a>
        </li>
    </ul>
</section>