<section class="services">
    <div class="container">
        <h2 class="title">Our services</h2>
        <ul class="services__list">
            <li class="services__item">
                <img class="services__img" src="../images/services/services.jpg" alt="workplace" width="370"
                    height="295">
                <h3 class="services__title" href="#">desktop apps</h3>
            </li>
            <li class="services__item">
                <img class="services__img" src="../images/services/services-2.jpg" alt="phone in a man's hands"
                    width="370" height="295">
                <h3 class="services__title" href="#">mobile apps</h3>
            </li>
            <li class="services__item">
                <img class="services__img" src="../images/services/services-3.jpg" alt="man draws" width="370"
                    height="295">
                <h3 class="services__title" href="#">modern design</h3>
            </li>
        </ul>
    </div>
</section>